// Header
.header {
  border-bottom: 1px solid #ececec;

  &-nav {
    display: flex;
    align-items: center;
  }
}

// Navigation header

.site-nav {
  display: flex;
  margin-left: 93px;

  &__item:hover .site-nav__link {
    color: $accentTextColor;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $titleTextColor;
    padding: 32px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__current {
      position: relative;
      color: $accentTextColor;
    }
  }
}
.site-nav__link__current::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: $accentTextColor;
  border-radius: 2px;
}
.site-nav__link:focus {
  color: $accentTextColor;
  fill: $accentTextColor;
}

// Contacts

.list-contacts {
  display: flex;
  margin-left: auto;

  &__icon {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $basicTextColor;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}
.list-contacts__link:hover,
.list-contacts__link:focus {
  color: $accentTextColor;
}
.list-contacts__link:hover .list-contacts__icon,
.list-contacts__link:focus .list-contacts__icon {
  fill: $accentTextColor;
}
