.section-hero {
  margin-top: 5px;
}
.hero-wrapp {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-height: 600px;
  background-color: $heroBackgroundColor;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../imeges/hero.jpg');
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $whiteColor;

  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  margin-bottom: 30px;
}