.speciality {
  padding-bottom: 94px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: $titleTextColor;

  padding-bottom: 50px;
}
.speciality-list {
  display: flex;
}
.speciality-list .item:not(:last-child) {
  margin-right: 30px;
}
.speciality-list img {
  display: block;
}
.speciality-wrapper {
  position: relative;
}
.speciality-text {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;

  color: $whiteColor;
  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}
