.benefits {
  padding-bottom: 94px;
  padding-top: 94px;
}
.benefits-list {
  display: flex;
}
.benefits-list li:not(:last-child) {
  margin-right: 30px;
}
.benefits-imeges {
  width: 270px;
  height: 120px;
  background-color: var(--backgraund-color-page);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits-titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);

  padding-bottom: 10px;
  padding-top: 30px;
  min-width: 270px;
}
